<div class="row">
	<div class="space-75">
		<h1>
			I'm a designer & developer from Colorado, currently doing Product Design at
			<a target="_blank" href="https://www.cognizant.com/accelerator">Cognizant Accelerator</a>.
		</h1>
	</div>
</div>

<div class="row">
	<div class="space-4">
		<h3 class="bold">things i've built:</h3>
		<% @projects.each do |project| %>
			<a href="#"><%= link_to project.title, project %></a>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="space-4">
		<h3 class="bold">stuff i've written:</h3>
		<% @posts.each do |post| %>
			<a href="#"><%= link_to post.title, post %></a>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
