<div class="space-4"></div>
<div class="space-2 project-index">
	<h1 id="page_title">Stuff I've Written</h1>
	<% @projects.each do |project| %>
		<div class="post">
			<p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
			<h2><a href="#"><%= link_to project.title, project %></a></h2>
		</div>
	<% end %>
</div>
<div class="space-4"></div>
