@import 'normalize';
@import 'spacegrid.min';
@import 'colors';
@import 'posts';
@import 'projects';
@import 'contact';
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

* {
	box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0 3em;
  font-family: 'Space Mono', monospace;
	&.welcome {
		background-color: $mint;
		color: $indigo;
		a {
			border-bottom: 2px solid $indigo;
			&:hover {
				background: $indigo;
			  color: $mint;
			}
		}
	}
}

h1 {
  font-size: 3.6em;
  font-family: 'Playfair Display', serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

ul {
  list-style: none;
  padding: 0;
}

.nav p {
  float: left;
}

.nav ul {
  text-align: right;
  margin-left: -1.388889%;
  margin-right: -1.388889%;
}

.nav li {
  display: inline-block;
  padding-left: 1.388889%;
  padding-right: 1.388889%;
}

.bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  margin-bottom: 0;
}

.non-nav {
  margin-top: 0;
}

@media screen and (max-width: 580px) {
  body {
    margin: 0 0.25em;
  }

  .nav li {
  display: block;
  }

  .space-75 {
    min-width: 100%;
  }
}

@import 'pygments';
